.chart-container {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px; /* Ajusta la altura según sea necesario */
  margin-top: 20px; /* Espacio entre la información y la gráfica */
}

.bar {
  width: 20px; /* Ancho de cada barra */
  background-color: #2196f3; /* Color de las barras */
}
