<div class="detail">
    <div class="content">
      <div>
        <p>Humedad: {{ info.humedad }}</p>
        <p>Distancia: {{ info.distancia }}</p>
        <p>Luz: {{ info.luz }}</p>
        <p>Temperatura: {{ info.temperatura }}</p>
        <p>Ventiladores: {{ info.ventiladores }}</p>
      </div>
    </div>
    <div>
      <button (click)="update()" mat-raised-button color="primary">Edit</button>
      <button (click)="delete()" mat-raised-button color="warn">Delete</button>
    </div>
  </div>